In [8]:
import re

import geonamescache
import pandas as pd
import unidecode


def normalize(text):
    return unidecode.unidecode(text.strip())

# Get city names from geonamecache
gc = geonamescache.GeonamesCache()
cities = gc.get_cities()

city_names = []
for c in cities:
    cn = normalize(cities[c]['name'])
    city_names.append(cn)
    city_names.sort(reverse=True)
city_name_regex = r"("+r"\b|\b".join(city_names)+r")"
city_name_regex = re.compile(city_name_regex, flags = re.IGNORECASE)

countries = gc.get_countries()
country_names = []
for c in countries:
    cn = normalize(countries[c]['name'])
    country_names.append(cn)
country_name_regex = r"("+r"\b|\b".join(country_names)+r")"
country_name_regex = re.compile(country_name_regex, flags=re.IGNORECASE)

data_frame = pd.DataFrame(columns=['Headline', 'Country', 'City'])

headlines = []
file = open("../data/headlines.txt", 'r')
for l in file.readlines():
    headline = normalize(l)
    city_match = city_name_regex.search(headline)
    country = 'NaN'
    if city_match:
        city_start, city_end = city_match.start(), city_match.end()
        country_match = country_name_regex.search(headline)
        if country_match:
            country = l[country_match.start():country_match.end()]

        headlines.append({'Headline':headline, 'Country': country, 'City' : l[city_start:city_end]})

data_frame.from_dict(headlines)

                                              Headline Country           City
0                             Zika Outbreak Hits Miami     NaN          Miami
1                      Could Zika Reach New York City?     NaN  New York City
2                    First Case of Zika in Miami Beach     NaN             of
3              Mystery Virus Spreads in Recife, Brazil  Brazil         Recife
4              Dallas man comes down with case of Zika     NaN         Dallas
..                                                 ...     ...            ...
613  Rumors about Rabies spreading in Jerusalem hav...     NaN      Jerusalem
614              More Zika patients reported in Indang     NaN         Indang
615  Suva authorities confirmed the spread of Rotav...     NaN           Suva
616         More Zika patients reported in Bella Vista     NaN    Bella Vista
617                     Zika Outbreak in Wichita Falls     NaN  Wichita Falls

[618 rows x 3 columns]